<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveluphorics</title>
</head>
<body>
    <h3>Edit this Listing</h3>
    <form action="/listings/<%= listing._id %>" method="POST">
        <input name="listing[title]" value="<%= listing.title %>" type="text" required>
        <br><br>
        <textarea name="listing[description]" required><%= listing.description %></textarea>
        <br><br>
        <input name="listing[image]" value="<%= listing.image %>" type="text">
        <br><br>
        <input name="listing[price]" value="<%= listing.price %>" type="number" required>
        <br><br>
        <input name="listing[country]" value="<%= listing.country %>" type="text" required>
        <br><br>
        <input name="listing[location]" value="<%= listing.location %>" type="text" required>
        <br><br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>
